{{=<% %>=}}
 <!-- @TODO implement wysiwig and posting  -->
<ion-card>
    <ion-card-header>To be implemented</ion-card-header>
    <ion-card-content>
        <div contenteditable="true" style="min-height: 25vh;" [innerHTML]=CONTENT_OTHERDATA.sectioncontent></div>
    </ion-card-content>
</ion-card>
